@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Montserrat:wght@500;600&display=swap');

/* BODY */
.container {
  background-color: #f3f3f3;
}

/* NAVBAR */
.navWrapper {
  height: 20vh;
  background-color: #41294a;
  padding: 15px 0px;
}

.smallNav>ol {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.smallNav>ol>li {
  margin-top: 4%;
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.listParags {
  font-size: 15px;
  margin-top: -10px;
  margin-left: 10px;
}

.listParags>p:nth-child(1) {
  color: #34beb9;
  font-family: 'DM Sans', sans-serif;
}

.listParags>p:nth-child(2) {
  font-size: 1.5em;
  margin-top: -17px;
  font-family: 'DM Sans', sans-serif;
}

.listApparatus {
  display: flex;
}

.smallNav>ol>li:nth-child(3) {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  transition: all 1s ease;
}

.smallNav>ol>li:nth-child(3)>a {
  color: #fff;
  text-decoration: none;
}

.smallNav>ol>li:nth-child(3):hover {
  background-color: #0094a7;
  padding: 15px;
  cursor: pointer;
}

.smallNav>ol>li:nth-child(4) {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  transition: all 1s ease;
}

.smallNav>ol>li:nth-child(4)>a {
  color: #fff;
  text-decoration: none;
}

.smallNav>ol>li:nth-child(4):hover {
  background-color: #0094a7;
  padding: 15px;
  cursor: pointer;
}

.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f3f3f3;
  color: black;
}

.brandName {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  padding: 0px 105px;
}

.brandName>p {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.3rem;
}

.brandName:hover {
  color: #333;
}

.navigationMenu {
  margin-left: auto;
}

.navigationMenu ul {
  display: flex;
  padding: 0px 60px;
}

.navigationMenu li a:hover {
  opacity: 1;
}

.navigationMenu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigationMenu li a {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  width: 100%;
  color: #212121;
}

.navigationMenu li a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #0094a7;
}

.navigationMenu li a::before {
  width: 0%;
  bottom: 0px;
}

.navigationMenu li a:hover::before {
  width: 5%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

/* HEROBANNER */
.herobanner {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1669733419/pexels-kampus-production-7551631_cxqcar.jpg");
  background-position: 1% 50%;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  height: 600px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
  opacity: 0.6;
}

.heroContent {
  position: absolute;
  top: 20%;
  left: 10%;
}

.heroContent>p:nth-child(1) {
  font-size: clamp(3rem, 0.8rem + 1.5vw, 2rem);
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  max-inline-size: 18ch;
}

.heroContent>p:nth-child(2) {
  font-size: clamp(1.2rem, 0.8rem + 1.5vw, 1rem);
  color: #eee;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
  letter-spacing: 0.050px;
}

/* BUTTON */
.button {
  background: linear-gradient(-135deg, #34beb9, #1a7673) #1a7673 no-repeat;
  padding: 15px 30px;
  margin-bottom: 30px;
  border: none;
  box-sizing: border-box;
  display: inline-block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #eee;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin-top: 15px;
  position: relative;
}

.button:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #41294a;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "Get a specialist";
  padding-top: 15px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

/* CARE MODULE */
.careContainer {
  margin-top: 15%;
  background-color: #f8f8f8;
}

.careHeader {
  padding: 10px 50px;
}

.careHeader>p:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  color: #41294a;
  text-transform: uppercase;
  padding-top: 20px;
}

.careHeader>p:nth-child(2) {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  color: #212121;
}

.careHeader>p:nth-child(3) {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: #333;
}

.careImg {
  height: 50vh;
  position: relative;
}

/* SERVICES */
.serviceContainer {
  margin-top: 10%;
}

.serviceContent,
.serviceText {
  padding: 20px 50px;
}

.imgContainer {
  background-color: #0094a7;
  padding: 10px;
  border-radius: 50%;
}

.imgContainerThumbs {
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
}

.serviceText>p:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: #eee;
}

.serviceText>p:nth-child(2) {
  color: #eee;
  font-size: 1.03em;
  font-family: "DM Sans", sans-serif;
}

.serviceTextThird {
  display: flex;
  padding: 20px 50px;
}

.serviceTextThird>p:nth-child(1) {
  font-size: 59px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ff8a01;
  margin-top: 20px;
}

.serviceTextThird>p:nth-child(2) {
  padding-top: 20px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
}

.serviceTextSlug {
  padding: 10px 50px;
}

.serviceTextSlug>p {
  color: #212121;
  font-size: 1.03em;
  font-family: "DM Sans", sans-serif;
}

.serviceCardBlue {
  background: linear-gradient(-135deg, #97237c, #441038) #97237c no-repeat;
}

.serviceCardBlue:hover {
  transition: all 0.5s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  transform: scale(1.04);
}

.serviceCardTeal {
  background: linear-gradient(-135deg, #34beb9, #1a7673) #1a7673 no-repeat;
}

.serviceCardTeal:hover {
  transition: all 0.5s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  transform: scale(1.04);
}

.serviceCardWhite:hover {
  transition: all 0.5s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  transform: scale(1.04);
}

/* ABOUT CARE MODULE */
.AbtcareImg {
  height: 50vh;
  position: relative;
}

.amenities>p:nth-child(1) {
  font-weight: bold;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  color: #41294a;
  padding-top: 20px;
}

.amenities>p:nth-child(2) {
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  color: #212121;
}

/* FEATURES */
.featuresContainer {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1669834994/pexels-kampus-production-7551685_oag3rk.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 10%;
  background-attachment: fixed;
  padding-bottom: 20px;
}

.overlayFeatures {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
  opacity: 0.8;
}

.featuresContent>p {
  color: #eee;
  opacity: 0.9;
  padding: 10px 50px;

}

.featuresContent>p:nth-child(1) {
  font-size: 1.3em;
  padding-top: 2%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.058px;
}

.featuresContent>p:nth-child(2) {
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.058px;
}

.featuresContent>p:nth-child(3) {
  font-family: "DM Sans", sans-serif;
  font-size: 1.23em;
  letter-spacing: 0.058px;
  margin-top: -20px;
}

.checked {
  padding: 0px 50px;
}

.checkedHeader>p:nth-child(1) {
  padding-top: 10px;
  font-size: 1.2em;
  color: #fff;
  opacity: 0.9;
  letter-spacing: 0.058px;
}

.checkedHeader>p {
  left: 60px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.checkedHeader {
  position: relative;
  right: 10px;
}

.checkedHeader::before {
  background-image: url('/check.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100px;
  content: "";
  width: 100%;
  opacity: 0.9;
}

/* APPOINTMENT */
.appointWrapper {
  margin-top: 15%;
}

.apointContainer {
  padding-bottom: 50px;
}

.appointWrapper {
  position: relative;
}

.appointHeader>p:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  color: #212121;
  text-transform: uppercase;
}

.appointHeader>p:nth-child(2) {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  color: #212121;
}

.formControl>form {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 1rem;
  padding-top: 5%;
}

.formControl>form>input {
  background-color: #fff;
  padding: 16px;
  border: 1px solid #0094a7;
  width: 100%;
}


.appointButton {
  padding: 16px;
  background-color: #97237c;
  color: white;
  border: none;
  transition: all 0.5s ease;
}

.appointButton:hover {
  background-color: #441038;
  transition: all 0.5s ease;
}


/* FOOTER */
.footerContainer {
  background-color: #002d3e;
  margin-top: 0%;
  overflow: hidden;
}

.footerContent {
  padding: 30px 50px;
  color: #eee;
}

.footerContent>h3 {
  color: #eee;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 0.078px;
  font-size: 25px;
}

.footerContent>p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 0.078px;
  width: 200px;
}

.reserved {
  border-top: 1px solid #f3f3f3;
  display: flex;
  justify-content: space-between;
}

.reservedWord {
  color: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: flex-start;
}

.creator {
  padding-top: 10px;
  padding-bottom: 10px;
}

.creator>a {
  color: #eee;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.span {
  color: #ff8a01;
}

/* MEDIA QUERIES */
/* (MOBILE & TABLET) */
@media (max-width: 1024px) {
  .navWrapper {
    display: none;
  }

  .brandName {
    padding: 0px;
  }

  .hamburger {
    display: block;
  }

  .navigationMenu ul {
    display: none;
  }

  .navigationMenu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80vh);
    background-color: white;
    border-top: 1px solid black;
  }

  .navigationMenu li {
    text-align: center;
    margin: 0;
  }

  .navigationMenu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigationMenu li:hover {
    background-color: #eee;
  }

  .navigationMenu.expanded ul {
    display: block;
    z-index: 1;
  }

  .button {
    margin: 9px auto;
    width: -webkit-fill-available;
  }

  .herobanner {
    background-position: center;
    height: 500px;
  }

  .careImg {
    display: none;
  }

  .careContainer {
    background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1669810723/pexels-kampus-production-7551667_nkfw4y.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: local;
    position: relative;
  }

  .overlayCare {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212121;
    opacity: 0.6;
  }

  .heroContent {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
  }

  .heroContent>p:nth-child(1) {
    font-size: 1.5rem;
  }

  .heroContent:p:nth-child(2) {
    font-size: 0.8rem;
  }

  .heroButtonContainer {
    display: flex;
    justify-content: center;
  }

  .careHeader>p:nth-child(1) {
    font-size: 18px;
    color: #f3f3f3;
  }

  .careHeader>p:nth-child(2) {
    font-size: 30px;
    color: #f3f3f3;
  }

  .careHeader>p:nth-child(3) {
    font-size: 22px;
  }

  .careHeader {
    opacity: 0.9;
  }

  .AbtcareImg {
    display: none;
  }

  .amenities>p:nth-child(1) {
    color: #0094a7;
    text-align: center;
  }

  .amenities>p:nth-child(2) {
    color: #fff;
    text-align: center;
  }

  .formControl>form {
    display: inline-block;
  }

  .formControl>form>input {
    margin-top: 20px;
  }

  .featuresContent>p:nth-child(1) {
    font-size: 1.3em;
    text-align: center;
  }

  .featuresContent>p:nth-child(2) {
    font-size: 1.6em;
    text-align: center;
  }

  .featuresContent>p:nth-child(3) {
    font-size: 1.1em;
    text-align: center;
  }

  .centralized {
    display: inline-block;
  }

  .appointHeader>p:nth-child(1) {
    font-size: 1.2em;
    text-align: center;
  }

  .appointHeader>p:nth-child(2) {
    font-size: 2em;
    text-align: center;
  }

  .appointButton {
    margin-top: 20px;
    width: -webkit-fill-available;
  }

  /* .careHeader>p:nth-child(1) {
    font-size: 1.2em;
    text-align: center;
    color: #f3f3f3;
  }

  .careHeader>p:nth-child(2) {
    font-size: 1.4em;
    text-align: center;
    color: #f3f3f3;
  }

  .careHeader>p:nth-child(3) {
    font-size: 17px;
    text-align: center;
    color: #f3f3f3;
  } */

  .serviceContent,
  .serviceText {
    text-align: center;
  }
}